{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}

<div class="columns book-detail is-multiline">
    <div class="column is-3-tablet">
    LEFT COLUMN
    
        {% if product.variation_field_portada %}
        PORTADA
        
            <figure class="cover">
                <img 
                    src="{{ file_url(product.variation_field_portada.entity.fileuri) }}" 
                    alt="{{ product.variation_field_portada.alt }}">
            </figure>
        {% endif %}
    </div>
  <div class="column is-9-tablet is-7-desktop detail-content">
    <!-- Product details -->
      {{ title_prefix }}
      {{ title_suffix }}
      <h3>{{- product.title -}}</h3>
      {{- product|without('variation_attributes', 'field_portada') -}}
    <!-- Any other fields you want to display -->
  </div>
</div>
