{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}

<div class="columns book-detail is-multiline">
    <div class="column is-3-tablet">
        {% if product.field_portada %}
          <figure class="cover">
            {{ product.field_portada }}
          </figure>
        {% endif %}
    </div>
  <div class="column is-9-tablet is-7-desktop detail-content">
    <!-- Product details -->
      {{ title_prefix }}
      {{ title_suffix }}
      {# <h3>{{- product.title -}}</h3> #}
      {# {{- product|without('variation_attributes', 'field_portada', 'title') -}} #}

        <h1>{{ product.title.0['#context'].value|capitalize }}</h1>
        {{ product.field_autor }}
        
        {{ product.variation_price }}
        {# {{dump( product.variations )}} #}
        {{product.variations}}
        {# {% for product.variations as variation %}
          {{ variation }}
        {% endfor %} #}
       {#  {% if product.variation_form %}
          {{ product.variation_form }}
        {% else %}
          <form class="commerce-add-to-cart" id="commerce-add-to-cart--{{ product.id }}" accept-charset="UTF-8" method="post" {{ product.attributes }}>
            <div class="form-actions">
              <input class="button" type="submit" value="{{ 'Add to cart'|t }}" />
            </div>
          </form>
        {% endif %} #}
        {{ product.body }}
    <!-- Any other fields you want to display -->
  </div>
  <div class="column is-12-tablet is-2-desktop data-column">
  
    <ul class="chips">
      <li>
        <a href="/categoria/{{ product.field_categoria.0['#title']|clean_url|lower }}">
          {{ product.field_categoria.0['#title'] }}
        </a>
      </li>
    </ul>
    <ul class="book-data">
      <li>{{ product.field_num_paginas }}</li>
      <li>{{ product.field_ean }}</li>
      <li>{{ product.field_editorial }}</li>
    </ul>
  </div>
</div>
